doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
    
  body
    <h1> Panda I am </h1>
    <h4> Feel free to download the panda image that is your spirit animal </h4>
    <br>
    br
    <h2> Panda and Bamboo </h2>
    <img src="/panda.avif" width ="500px" height ="500">
    <a href="http://localhost:3000/download-panda-bamboo">
      <br>
    <button> Click here to download </button>
    </a>
    <h2> Panda and Boba </h2>
     <img src="/panda-boba.jpeg" width ="500px" height ="500">
    <a href="http://localhost:3000/download-panda-boba">
      <br>
    <button> Click here to download </button>
    </a>


//- p #{Name}'s spirit animal is #{animal}! 

